*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.projects-section{
    text-align: center;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}